<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi" />
        <link rel="stylesheet" type="text/css" href="../css/ionic.css">
        <link rel="stylesheet/less" type="text/css" href="../css/less/activiti.less">
        <script src="../js/less/less.min.js"></script>
        <script src="../js/ionic.bundle.js"></script>
        <script src="../js/newActiviti/chooseFriends.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <title>邀请好友</title>
    </head>
    <body ng-app="myapp" ng-controller="chooseFriendsControl as cfc">
        <ion-header-bar class="bar bar-header bar-stable">
            <a ng-click="cfc.onBackClick();" class="button button-icon icon ion-ios-arrow-back"></a>
            <h2 class="title">邀请好友（{{cfc.friends.length}}人）</h2>
        </ion-header-bar>
        
        <ion-content>
            <div class="list">
                <a class="item item-avatar item-icon-right" href="#" ng-repeat="friend in cfc.listOfFriends" ng-click="cfc.onItemClick(friend);">
                    <img ng-src="../img/{{friend.avatarURL || 'default.png'}}">
                    <h2 class="title">{{friend.nickname}}</h2>
                    <i class="icon ion-checkmark checkmark" ng-show="friend.chosen"></i>
                </a>
            </div>
        </ion-content>
    </body>
</html>