<!DOCTYPE html>
<html ng-app="myapp">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi" />
        <link rel="stylesheet" type="text/css" href="../css/ionic.css">
        <link rel="stylesheet/less" type="text/css" href="../css/less/activiti.less">
        <script src="../js/less/less.min.js"></script>
        <script src="../js/ionic.bundle.js"></script>
        <script src="../js/newActiviti/choosePlace.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <title>备选地点</title>
    </head>
    <body ng-controller="chooseCtrl as choose">
        <ion-header-bar class="bar bar-header bar-stable">
            <a href="../newActiviti.html" class="button button-icon icon ion-ios-arrow-back"></a>
            <h1 class="title">备选地点</h1>
        </ion-header-bar>
        
        <ion-content>
            <div class="list">
                <div class="item" ng-hide="choose.places.length">尚未选择地点</div>
                <div class="item item-icon-right" ng-repeat="place in choose.places">{{place}}
                    <i class="icon ion-android-remove" ng-click="choose.removePlace(place);"></i>
                </div>
                <div class="item-input">
                    <input type="text" ng-model="choose.newPlace" placeholder="新地点" />
                </div>
            </div>
        </ion-content>
        
        <ion-footer-bar class="bar bar-footer bar-calm">
            <h1 class="title" ng-click="choose.addPlace();">添加</h1>
        </ion-footer-bar>
    </body>
</html>
