<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi" />
        <link rel="stylesheet" type="text/css" href="css/ionic.css">
        <link rel="stylesheet/less" type="text/css" href="css/less/activiti.less">
        <script src="js/less/less.min.js"></script>
        <script src="js/ionic.bundle.js"></script>
        <script src="js/confirm.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        
        <title>确认活动</title>
    </head>
    <body ng-app="myapp" ng-controller="confirmControl as confirm">
        <ion-header-bar class="bar bar-header bar-royal">
            <a href="activitiDetail.html" class="button button-icon icon ion-ios-arrow-back"></a>
            <h1 class="title">确认活动：{{confirm.activiti.title}}</h1>
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <div class="item item-divider">时间 <span class="icon ion-help unselected-warning" ng-hide="confirm.timeChosen"></span></div>
                <a class="item item-icon-right" href="#" ng-repeat="timeChoice in confirm.timeChoices" ng-click="confirm.chooseTime(timeChoice);">{{timeChoice.time}}<i class="icon ion-checkmark checkmark" ng-show="timeChoice.chosen"></i></a>
                
                <div class="item item-divider">地点 <span class="icon ion-help unselected-warning" ng-hide="confirm.placeChosen"></span></div>
                <a class="item item-icon-right" href="#" ng-repeat="placeChoice in confirm.placeChoices" ng-click="confirm.choosePlace(placeChoice);">{{placeChoice.place}}<i class="icon ion-checkmark checkmark" ng-show="placeChoice.chosen"></i></a>
            </div>
        </ion-content>
        
        <ion-footer-bar class="bar bar-footer bar-calm">
            <h1 class="title" ng-click="confirm.onSubmit();">确认</h1>
        </ion-footer-bar>
    </body>
</html>
